[Desktop Entry]
Name=Xfe
GenericName=File Manager
Comment=A lightweight file manager for X Window
Exec=xfe
Terminal=false
Type=Application
StartupNotify=false
Icon=folder
Categories=System;FileManager;
X-XFCE-Source=file:///usr/share/applications/xfe.desktop
Path=
